body{
  background-color:#f6e174;
  text-align:center;
}
header{
  background-color:#daab00;
}
h1 {
  background-color:#d3962a;
}
.half {
  width:50%;
  border-width:15px;
}
.third {
  width:33%;
  border-width:15px;
img {
  width:100%;
  }
