header { 
  background-color:#ffeb3b;
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
}
main {
  background-color:#fffbd8;
}
nav {
  background-color:#fffef3;
}
p {
  background-color:#fffbd8;
}
hover {
  background-color:#ddc700;
}
footer {
  text:"All art work on this site is property of Victoria Alexander and Guest. Unathorized use of this work is not allowed.";
}
