<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-yellow.css">
header { 
  background-color:#ffeb3b;
}
main {
  background-color:#fffbd8;
}
nav {
  background-color:#fffef3;
}
button {
  background-color:#fde400;
}
div {
  background-color:#fff7b1;
}
